<!-- 共通部分のコードをこのappliation.html.erbに書く -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Wish</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header>
    <%= link_to "新規作成", new_profile_path %>
    </header>

<%= yield %>
<!-- #index.html等、profiles配下のコードがここに入る。 -->
</body>
</html>
